@page "/PopularMovies"
@using MovieSite.ApiClient
@using MovieSite.Models
@inject IApiClient ApiClient

<PageTitle>Home</PageTitle>

<h1>Popular movies</h1>

@if (Movies == null)
{
    <p>Loading movies...</p>
}
else
{
        <div class="movie-row">
        @foreach (var movie in Movies)
        {
            <div class="movie-card">
                <h5>@movie.Title</h5>
                <img src="@($"https://image.tmdb.org/t/p/w500{movie.poster_path}")" alt="@movie.Title"/>
                <strong>@DateTime.Parse(movie.release_date).Year</strong>
            </div>
        }
    </div>
    
@code {

    private List<Movie> Movies;

    protected override async Task OnInitializedAsync()
    {
        Movies = await ApiClient.GetPopularMoviesAsync();
    }
}
}

